/* Global Font Definitions */

@font-face {
  font-family: 'Comico';
  src: url('/fonts/Comico-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dana Yad AlefAlefAlef';
  src: url('/fonts/._DanaYadAlefAlefAlef-Normal.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
